* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#container {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: sticky;
}

#main-doc {
    overflow-y: auto;
    overflow-x: visible;
    display: grid;
    grid-template: auto auto auto auto auto auto/1fr auto auto auto auto auto 1fr;
}

#main-header {
    font-family: 'Roboto', sans-serif;
    color: #725C5C;
    background-color: #FDF1EB;
    padding-left: 37px;
    padding-bottom: 4px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-line {
    font-size: 14px;
}

.header-title {
    font-size: 22px;
}

#user {
    display: flex;
}

#language {
    margin-right: 22px;
    display: flex;
    align-items: center;
}

#welcome {
    display: block;
    text-align: right;
    margin-right: 10px;
}

#email {
    margin-right: 10px;
}

#people {
    border-radius: 50%;
    margin-right: 19px;
}

.main-content {
    margin-left: 3.3vw;
    margin-right: 3.3vw;
}

#main-content-title {
    color: #ED7839;
    font-size: 20px;
}

iframe {
    width: 783;
    height: 439px;
}

#download {
    width: 120px;
    height: 31px;
    background-color: #ED7839;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    margin-right: 5px;
}

#img-download {
    margin-right: 10px;
}

#star {
    width: 43px;
    height: 31px;
    background-color: #ED7839;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

#doi {
    width: 43px;
    height: 31px;
    background-color: #ED7839;
    border: none;
    border-radius: 4px;
}

#link {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ED7839;
    font-size: 14px;
    letter-spacing: 0.5px;
}

#buttons {
    text-align: end;
}

#details {
    border: 1px solid #E7E7E7;
    width: 17.72vw;
    height: 439px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

#details-header {
    background-color: #FDF1EB;
    width: 100%-15px;
    height: 34px;
    padding-left: 15px;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#details-content {
    width: 15.52vw;
    margin: 0 auto;
    position: relative;
    top: 15px;
}

.bordered {
    border-image: linear-gradient(to bottom, #bfbfbf 50%, #e7e7e7 50%);
    border-image-slice: 12;
    border-width: 0px 5px 0px 0px;
    border-style: solid;
}

#authors {
    margin-top: 20px;
    margin-bottom: 30px;
}

#institutions {
    font-size: 12px;
}

#summary {
    border: 1px solid #E7E7E7;
    margin-top: 30px;
    margin-bottom: 30px;
}

#summary-header {
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

#summary-content {
    margin: 15px;
}

.content {
    margin-top: 30px;
}

#discussions {
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.discussions {
    border: 1px solid #E7E7E7;
    margin-bottom: 30px;
}

#discussions-content {
    text-align: center;
    margin: 0 auto;
}

#discussions-content header {
    margin-top: 15px;
    color: #ED7839;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 37px;
}

#icon2 {
    margin-left: 70px;
    margin-right: 70px;
}

#discussions-text {
    margin-bottom: 22px;
    max-width: 626px;
    display: inline-block;
    margin-top: 35px;
}

.discussion-label {
    display: block;
    text-align: left;
    margin-left: 17.53px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #5C5C5C;
    font-weight: 700;
    color: #ED7839;
    margin-top: 22px;
}

.discussions-input {
    display: block;
    text-align: left;
    margin-left: 17.53px;
    width: calc(100% - 30px);
}

.discussions-input::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #5C5C5C;
    line-height: 18px;
    padding-left: 23px;
}

#subject-input {
    height: 39px;
}

#suggestion-label {
    display: block;
    margin-top: 15px;
}

#bottom-bar-container {
    display: flex;
}

#bottom-bar {
    box-sizing: border-box;
    background-color: #EAF1F2;
    width: calc(100% - 30px - 205.1px);
    height: 31px;
    margin-left: 17.53px;
    border: 1px solid #cccccc;
    border-radius: 0px 0px 4px 4px;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
}

#bottom-bar img {
    margin-left: 29.3px;
}

#send {
    width: 205.1px;
    height: 31px;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    border: none;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

#h-line2 {
    margin-left: 15px;
    margin-right: 15px;
    z-index: -1;
    height: 1px;
    background-color: #e7e7e7;
    border: none;
    margin-bottom: 30px;
}

#create-topic-div {
    display: inline-block;
    border-top: 1px solid #E7E7E7;
}

#create-topic {
    width: 133px;
}

.create-topic {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}

#create-new-topic {
    width: 235.15px;
}

#h-line {
    position: relative;
    top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    z-index: -1;
    height: 1px;
    background-color: #e7e7e7;
    border: none;
}

#btn-pt1 {
    display: inline;
    font-size: 30px;
    margin-right: 6px;
}

#btn-pt2 {
    display: inline;
    position: relative;
    line-height: 32px;
    vertical-align: middle;
}

.topic {
    box-sizing: border-box;
    width: calc(100% - 30px);
    height: 148px;
    margin: 15px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}

.topic h2 {
    color: #ED7839;
    font-size: 16px;
    margin-top: 17px;
    margin-left: 24px;
}

.topic #name {
    display: block;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 24px;
}

.topic p {
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 24px;
}

.topic #vellip {
    color: #ED7839;
    margin-left: 24px;
    margin-right: 15px;
    font-size: 25px;
}

.topic button {
    background-color: #ED7839;
    width: 27px;
    height: 19px;
    border: none;
    border-radius: 2px;
    margin-top: 14px;
    margin-right: 15px;
}

.topic .interaction {
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-right: 15px;
}

.topic button img {
    vertical-align: middle;
}

#otherworks {
    display: block;
    margin-top: 29px;
    margin-bottom: 54px;
}

#topic-feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    width: calc(100% - 30px);
    height: 148px;
    margin: 15px;
    background-color: rgba(221, 221, 221, 0.8);
    margin-top: -163px;
    z-index: auto;
}

#topic-feedback h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.discussions-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    color: #F48F44;
}

#footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E7E7E7;
}

#footer-content {
    margin-top: 30px;
}

#nav-menu {
    flex-shrink: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#nav-header {
    background-image: linear-gradient(#FFB354, #EE7A3A);
    font-family: 'Roboto', sans-serif;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #E7E7E7;
    display: block;
    text-decoration: none;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 24px;
}

#works {
    background-color: #FDF1EB;
    border-left: 5px solid;
    border-image: linear-gradient(#FFB455, #ED7839) 1;
}

#dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #FDF1EB;
}

.droplink {
    cursor: pointer;
}

.show {
    display: block;
}


/* Grid-areas */

.grid-header {
    grid-column-start: 1;
    grid-column-end: 8;
}

.grid-title {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-buttons {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}

.grid-video {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 6;
}

.grid-details {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
    justify-self: end;
}

.grid-summary {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;
}

.grid-discussions {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 7;
}

.grid-footer {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 7
}


/*responsividade*/

@media (max-width: 1358px) {
    #main-header {
        height: 80px;
    }
    #nav-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    #details {
        width: calc(100% - 92px);
        margin-top: 20px;
        height: auto;
    }
    #details-content {
        width: calc(100% - 30px);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    #authors {
        margin-top: 0;
    }
    .bordered {
        border: none;
    }
    .discussions-input {
        width: calc(100% - 30px);
    }
    #bottom-bar {
        width: calc(100% - 30px - 205.1px);
    }
    .topic {
        width: calc(100% - 30px);
    }
    #topic-feedback {
        width: calc(100% - 30px);
    }
    .grid-title {
        grid-column-end: 5;
    }
    .grid-video {
        grid-column-start: 3;
    }
    .grid-details {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 7;
        justify-self: start;
    }
    .grid-summary {
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .grid-discussions {
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .grid-footer {
        grid-row-start: 7;
        grid-row-end: 8;
    }
}

@media (max-width: 1200px) {
    iframe {
        width: 100%;
    }
    #nav-menu {
        display: none;
    }
    #main-header {
        height: 90px;
        padding-left: 1vw;
    }
    #dropdown {
        display: inline;
        font-size: 50px;
        margin-left: 0;
        padding-left: 0;
    }
    #details {
        width: calc(100% - 80px);
        margin-top: 20px;
        height: auto;
    }
    #details-content {
        width: calc(100% - 30px);
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    #authors {
        margin-top: 0;
    }
    .bordered {
        border: none;
    }
    .discussions-input {
        width: calc(100% - 30px);
    }
    #bottom-bar {
        width: calc(100% - 30px - 205.1px);
    }
    .topic {
        width: calc(100% - 30px);
        height: auto;
    }
    #topic-feedback {
        width: calc(100% - 30px);
    }
    .grid-header {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .grid-title {
        grid-row-end: 2;
        grid-column-end: 7;
    }
    .grid-buttons {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 5;
        align-self: center;
        margin-top: 20px;
    }
    .grid-video {
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 7;
    }
    .grid-details {
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .grid-summary {
        grid-row-start: 6;
    }
    .grid-discussions {
        grid-row-start: 7;
    }
    .grid-footer {
        grid-row-start: 8;
    }
}

@media (max-width: 806px) {
    .droplink {
        margin-right: 10px;
    }
    #details {
        width: calc(100% - 50px);
    }
    #details-content {
        width: calc(100% - 30px);
    }
    #language-div {
        display: none;
    }
    #user {
        display: none;
    }
    #footer-content {
        margin-top: 0;
        font-size: 13px;
    }
    .grid-title {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .grid-buttons {
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 7;
        justify-self: center;
        margin-top: 20px;
    }
    .grid-video {
        grid-row-start: 3;
    }
    .grid-details {
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-end: 8;
    }
    .grid-summary {
        grid-row-end: 6;
    }
    .grid-discussions {
        grid-row-end: 7;
    }
    .grid-footer {
        grid-row-end: 8;
    }
}